<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="centered" style="text-align: center;"><img src="/assets/logo_footer.png"></h1>
                <h4 style="text-align: center;font-family: 'Raleway';font-weight: 300;color: #babcbd;">Track your benchmarks and make comparisons</h4>
                <hr>
            </div>

            <hr class="hr-landing">
            <div class="col-lg-6">
                <p style="font-family: 'Raleway'">
                    We're creating a new platform that allows you to track all your existing benchmark results from Heaven to 3DMark, along with CPUZ validation pages.</p>
                <p  style="font-family: 'Raleway'">
                    Once your results are imported, you can share your entire build profile that spans multiple results with one link, or put comparisons together. </p>
            </div><!-- col-lg-6 -->

            <div class="col-lg-6">
                <img class="img-thumbnail" src="/assets/benchmarks1.png">
            </div>

            <div class="col-lg-6">

                <hr class="hr-landing">
                <img class="img-thumbnail" src="/assets/comparison.png">
            </div><!-- col-lg-6 -->

            <div class="col-lg-6">
                <hr class="hr-landing">
                <p style="font-family: 'Raleway'">
                    Create comparisons based on your existing benchmarks, or compare your benchmarks with others.</p><p  style="font-family: 'Raleway'">

                    Compare everything from CPU frequency to total wattage; see how your build stacks up.
                </p>
            </div><!-- col-lg-6 -->

        </div><!-- row -->
    </div>
</div>
