<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3>Create an Account</h3>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-body">
                    <form>
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="email" required name="login" placeholder="Enter email"/>

                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" required placeholder="Password" name="password"/>

                        <button class="btn btn-default" name="form.submitted" (click)="signup()" value="Submit" style="margin: 10px 0 5px 0;">Submit</button>
                    </form>
                    <h6 class="error" [hidden]="!errorMessage">{{errorMessage}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
