<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header" style="z-index: 99999;cursor:pointer;">
            <span class="navbar-brand" [routerLink]="['/']">
                <!-- Logo icon -->
                <img src="/assets/logo_button.png" alt="homepage" class="light-logo" />
                <!--End Logo icon -->
                <!-- Logo text -->
                <span style="color:white;">CompareBench</span> <span class="badge badge-info">Beta</span>
            </span>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"><span></span></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!--li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                </li-->

                <!-- ============================================================== -->
                <!-- mega menu -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-help"></i></a>
                    <div class="dropdown-menu animated bounceInDown" style="background-color: #292a2d;">
                        <ul class="mega-dropdown-menu row">


                            <li class="col-lg-3  m-b-30">
                                <h4 class="m-b-20">Contact Us</h4>
                                <!-- Contact -->
                                <ul class="list-style-none">
                                    <li><a href="https://discord.gg/V3nRgYA" target="_blank"><i class="mdi mdi-discord text-success"></i> Discord</a></li>
                                    <li><a href="https://twitter.com/comparebench" target="_blank"><i class="mdi mdi-twitter text-success"></i> Twitter</a></li>
                                    <li><a href="https://www.reddit.com/r/comparebench/" target="_blank"><i class="mdi mdi-reddit text-success"></i>Reddit</a></li>
                                    <li><a href="https://github.com/Comparebench" target="_blank"><i class="mdi mdi-github-circle text-success"></i>GitHub</a></li>
                                </ul>

                            </li>
                            <li class="col-lg-3 col-xlg-4 m-b-30">
                                <h4 class="m-b-20">Built With</h4>
                                <!-- List style -->
                                <ul class="list-style-none">
                                    <li><a href="https://www.python.org" target="_blank"><i class="mdi mdi-language-python text-success"></i> Python</a></li>
                                    <li><a href="https://trypyramid.com" target="_blank"><i class="mdi mdi-link text-success"></i> Pyramid</a></li>
                                    <li><a href="http://scrapy.org" target="_blank"><i class="mdi mdi-link text-success"></i> Scrapy</a></li>
                                    <li><a href="http://getbootstrap.com" target="_blank"><i class="mdi mdi-bootstrap text-success"></i> Bootstrap</a></li>
                                    <li><a href="http://www.chartjs.org" target="_blank"><i class="mdi mdi-chart-pie text-success"></i> ChartJS</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" *ngIf="user" (click)="loggedDropdown.open()" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/assets/233.png" alt="user" class="profile-pic" /></a>
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" *ngIf="!user" routerLink="/login" aria-haspopup="true" aria-expanded="false"><button class="btn btn-sm btn-info">Log in</button></a>
                    <div [hidden]="!user" class="dropdown-menu dropdown-menu-right animated flipInY" ngbDropdown #loggedDropdown="ngbDropdown">
                        <ul *ngIf="user" class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="/static/${user.avatar_id}.png" alt="user"></div>
                                    <div class="u-text">
                                        <h4>{{user.display_name}}</h4>
                                        <p class="text-muted">{{user.username}}</p>
<!--                                        <p>Free tier</p>&lt;!&ndash; class="btn btn-rounded btn-primary btn-sm" href="/pricing">Upgrade</a&ndash;&gt;-->
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li style="cursor: pointer;"><a href="/user/${user.uid}"><i class="mdi mdi-account"></i> My Profile</a></li>
                            <li style="cursor: pointer;"><a (click)="logout()"><i class="mdi mdi-logout"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="/dashboard" *ngIf="loggedIn" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>

                <!--li> <a class="has-arrow waves-effect waves-dark" href="/news" aria-expanded="false"><i class="mdi mdi-newspaper"></i><span class="hide-menu">News</span></a>

                </li-->
                <li> <a class="has-arrow waves-effect waves-dark" routerLink="/results" aria-expanded="false"><i class="mdi mdi-view-list"></i><span class="hide-menu">Browse Results</span></a>

                </li>

            </ul>
        </nav>
    </div>
</aside>
