.patreon{
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(232, 91, 70);
    box-sizing: border-box;
    cursor: pointer;
    font-family: aktiv-grotesk, sans-serif;
    display: inline-flex;
    font-weight: 500;
    line-height: 0;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-transform: none;
    user-select: none;
    white-space: unset;
    width: 100%;
    color: rgb(255, 255, 255) !important;
    font-size: 0.875rem !important;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 91, 70);
    border-image: initial;
    padding: 0.46875rem 1rem;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
